@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background-color: rgba(107, 138, 143, 0.8);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
.container {
  max-width: 500px;
  margin: 0 auto;
}
.navigation {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 2% 4%;
  color: #c3b690;
  font-size: 2rem;
}
.navigation .logo {
  visibility: hidden;
}
.navigation .logoAni {
  visibility: visible;
}
.navigation .hamburger {
  position: fixed;
  right: 0.5%;
  width: 10%;
  z-index: 100;
  cursor: pointer;
}
.navigation .hamburger span {
  display: inline-block;
  position: relative;
  width: 33px;
  height: 4px;
  border-radius: 3px;
  background-color: #c3b690;
}
.navigation .hamburger span:before,
.navigation .hamburger span:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 4px;
  width: 33px;
  border-radius: 3px;
  background-color: #c3b690;
  transition: all 200ms;
}
.navigation .hamburger span:before {
  top: -11px;
}
.navigation .hamburger span:after {
  top: 11px;
}
.navigation .hamburger .hamburgerAni {
  height: 0;
}
.navigation .hamburger .hamburgerAni:before,
.navigation .hamburger .hamburgerAni:after {
  top: 0;
  background-color: rgba(107, 138, 143, 0.8);
}
.navigation .hamburger .hamburgerAni:before {
  transform: rotate(45deg);
}
.navigation .hamburger .hamburgerAni:after {
  transform: rotate(-45deg);
}
.navigation ul {
  display: none;
}
.navigation .menu:before {
  font-size: 1rem;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100vw;
  height: 100vh;
  background: #c3b690;
  transition: all 500ms ease-in-out;
  clip-path: circle(30px at calc(100% - 65px) 65px);
  visibility: hidden;
}
.navigation .menuAni.menu:before {
  visibility: visible;
  clip-path: circle(100%);
}
.navigation .contentDisplay {
  position: relative;
  top: 70%;
  right: 35%;
  animation: displayContent 1s ease-out 2s;
}
.navigation .contentDisplay li {
  padding-bottom: 15px;
}
@keyframes displayContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navigation .contentDisplay a {
  color: rgba(107, 138, 143, 0.8);
  text-decoration: none;
}
.navigation .contentDisplay a:hover {
  opacity: 0.6;
}
.jumbotron {
  margin-top: 20%;
  text-align: center;
}
.jumbotron img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 5px;
  opacity: 0.5;
}
