@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background-color: rgba(107, 138, 143, 0.5);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 500px;
  margin: 0 auto;
}
footer {
  text-align: center;
  font-size: 0.8rem;
}
.navigation {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 2% 4%;
  color: #c3b690;
  font-size: 2rem;
}
.navigation .logoAni {
  visibility: visible;
}
.navigation .hamburger {
  position: fixed;
  top: 40px;
  right: 20px;
  width: 10%;
  z-index: 100;
  cursor: pointer;
}
.navigation .hamburger span {
  display: inline-block;
  position: relative;
  width: 33px;
  height: 4px;
  border-radius: 3px;
  background-color: #c3b690;
}
.navigation .hamburger span:before,
.navigation .hamburger span:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 4px;
  width: 33px;
  border-radius: 3px;
  background-color: #c3b690;
  transition: all 200ms;
}
.navigation .hamburger span:before {
  top: -11px;
}
.navigation .hamburger span:after {
  top: 11px;
}
.navigation .hamburger .hamburgerAni {
  height: 0;
}
.navigation .hamburger .hamburgerAni:before,
.navigation .hamburger .hamburgerAni:after {
  top: 0;
  background-color: rgba(107, 138, 143, 0.5);
}
.navigation .hamburger .hamburgerAni:before {
  transform: rotate(45deg);
}
.navigation .hamburger .hamburgerAni:after {
  transform: rotate(-45deg);
}
.menu ul {
  position: fixed;
  text-align: center;
  font-size: 2rem;
  right: 140px;
  top: 200px;
  visibility: hidden;
}
.menu::before {
  font-size: 1rem;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100vw;
  height: 100vh;
  background: #c3b690;
  transition: all 500ms ease-in-out;
  clip-path: circle(30px at calc(100% - 65px) 65px);
  visibility: hidden;
}
.menuAni ul {
  visibility: visible;
  transition: all 1s ease-in 200ms;
}
.menuAni li {
  padding-bottom: 30px;
}
.menuAni a {
  color: rgba(107, 138, 143, 0.5);
  text-decoration: none;
}
.menuAni a:hover {
  opacity: 0.6;
}
.menuAni.menu:before {
  visibility: visible;
  clip-path: circle(100%);
}
.jumbotron {
  margin-top: 20%;
  text-align: center;
}
.jumbotron img {
  width: 450px;
  max-width: 90%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main {
  margin: 20px 0;
  padding: 0 25px;
}
main div {
  padding: 10px 0;
}
main div h2 {
  font-size: 1.4rem;
}
main div p {
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.5;
}
