@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background-color: rgba(107, 138, 143, 0.5);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 800px) {
  .container {
    max-width: 800px;
  }
}
@media (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
}
footer {
  text-align: center;
  font-size: 0.8rem;
  margin: 20px 0;
}
.navigation {
  width: 90%;
  margin: 10px 0;
  padding: 2% 4%;
  color: #6b8a8f;
  font-size: 2rem;
}
.navigation .hamburger {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 101;
  margin-top: 10px;
  cursor: pointer;
}
.navigation .hamburger h1 {
  color: #e9993d;
}
.navigation .hamburger span {
  display: inline-block;
  position: relative;
  width: 33px;
  height: 4px;
  border-radius: 3px;
  background-color: #6b8a8f;
}
.navigation .hamburger span:before,
.navigation .hamburger span:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 4px;
  width: 33px;
  border-radius: 3px;
  background-color: #6b8a8f;
  transition: all 200ms;
}
.navigation .hamburger span:before {
  top: -11px;
}
.navigation .hamburger span:after {
  top: 11px;
}
.navigation .hamburger .hamburgerAni {
  height: 0;
}
.navigation .hamburger .hamburgerAni:before,
.navigation .hamburger .hamburgerAni:after {
  top: 0;
  background-color: #e9993d;
}
.navigation .hamburger .hamburgerAni:before {
  transform: rotate(45deg);
}
.navigation .hamburger .hamburgerAni:after {
  transform: rotate(-45deg);
}
.menu ul {
  position: fixed;
  text-align: center;
  font-size: 2rem;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.menu::before {
  z-index: 2;
  font-size: 1rem;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100vw;
  height: 100vh;
  background: #6b8a8f;
  transition: all 500ms ease-in-out;
  clip-path: circle(30px at calc(100% - 65px) 65px);
  visibility: hidden;
}
.menuAni ul {
  visibility: visible;
  transition: all 1s ease-in 200ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menuAni li {
  padding-bottom: 30px;
}
.menuAni a {
  color: #e9993d;
  text-decoration: none;
}
.menuAni a:hover {
  opacity: 0.6;
}
.menuAni.menu:before {
  visibility: visible;
  clip-path: circle(100%);
}
.h1Display {
  visibility: hidden;
}
.jumbotron {
  text-align: center;
  margin-top: 30px;
}
.jumbotron img {
  width: 450px;
  max-width: 90%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (min-width: 800px) {
  .jumbotron img {
    width: 750px;
  }
}
@media (min-width: 1000px) {
  .jumbotron img {
    width: 100%;
  }
}
main {
  margin: 20px 0;
  padding: 0 25px;
}
main div {
  padding: 10px 0;
}
main div h2 {
  font-size: 1.4rem;
}
main div p {
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.5;
}
@media (min-width: 800px) {
  main div p {
    line-height: 2;
  }
}
main .left-content,
main .right-content {
  display: flex;
  flex-direction: column;
}
main .left-content img,
main .right-content img {
  width: 100%;
  height: auto;
}
@media (min-width: 800px) {
  main .left-content,
  main .right-content {
    align-items: center;
  }
}
@media (min-width: 800px) {
  main .left-content p,
  main .right-content p {
    line-height: 2;
  }
}
@media (min-width: 800px) {
  main .left-content,
  main .right-content {
    flex-direction: row;
  }
  main .left-content div,
  main .right-content div {
    width: 100%;
  }
}
main .right-content div:last-child {
  padding-left: 10px;
}
main .btn {
  text-align: center;
}
main .btn input {
  width: 100%;
  height: 40px;
  background: #6b8a8f;
  border: none;
  color: #e9993d;
  font-size: 1.2rem;
}
main .btn input:hover {
  background: #e9993d;
  color: #6b8a8f;
}
@media (min-width: 1000px) {
  main .btn input {
    width: 50%;
  }
}
.header h1 {
  margin-top: 20px;
  font-size: 2rem;
  text-align: center;
  color: #e9993d;
}
.about-layout {
  margin: 30px 0;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
}
.about-layout .card {
  display: flex;
  flex-direction: column;
  margin: 0 auto 20px;
  background: rgba(195, 182, 144, 0.5);
  max-width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.about-layout .card img {
  width: 100%;
  height: auto;
}
.about-layout .card .content {
  padding: 10px;
}
.about-layout .card .content h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.about-layout .card .content p {
  font-size: 1rem;
  line-height: 1.4;
}
.about-layout .card .content ul {
  margin-top: 10px;
}
.about-layout .card .content a {
  font-size: 1.5rem;
  color: #6b8a8f;
}
.about-layout .card .content a:hover {
  color: #e9993d;
}
@media (min-width: 800px) {
  .about-layout .card {
    max-width: 40%;
  }
}
@media (min-width: 1000px) {
  .about-layout .card {
    max-width: 30%;
  }
}
.select {
  margin-bottom: 20px;
  text-align: center;
}
.select select {
  width: 50%;
}
