.jumbotron {
    margin-top: 20%;
    text-align: center;
    img{
        width: 450px;
        max-width: 90%;
        height: auto;
        border-radius: 5px;
        box-shadow: @boxShadow;
    }
}