.jumbotron {
    text-align: center;
    h1{
        z-index: 1;
        text-align: left;
        position: absolute;
        color: #6b8a8f;
        font-size: 4rem;
        top: 130px;
        left: 40px;
        text-shadow: 
            3px 3px 0 #e9993d, 
            -1px -1px 0 #e9993d, 
            1px -1px 0 #e9993d, 
            -1px 1px 0 #e9993d, 
            1px 1px 0 #e9993d;
        }
    img{
        width: 450px;
        max-width: 90%;
        height: auto;
        box-shadow: @boxShadow;
    }
}