main{
    margin: 20px 0;
    padding: 0 25px;
    div{
        padding: 10px 0;
        h2{
            font-size: 1.4rem;
        }
        p{
            margin-top: 10px;
            font-size: 1rem;
            line-height: 1.5;
        }
        @media @tablet {
            p{
                line-height: 2;
            }
        }
    }
    .left-content, .right-content{
        display: flex;
        flex-direction: column;
        img{
            width: 100%;
            height: auto;
        }
        @media @tablet {
            align-items: center;
        }
        p{
            @media @tablet {
                line-height: 2;
            }
        }
        @media @tablet {
            flex-direction: row;
            div{
                width: 100%;
            }
        }
    }
    .right-content{
        div:last-child{
            padding-left: 10px;
        }
    }
    .btn{
        text-align: center;
    }
    .btn input{
        width: 100%;
        height: 40px;
        background: @bgColor2;
        border: none;
        color: @navFontColor;
        font-size: 1.2rem;
        &:hover{
            background: @navFontColor;
            color: @bgColor2;
        }
        @media @desktop {
            width: 50%;
        }
    }
}