.navigation {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 2% 4%;
    color: @bgColor2;
    font-size: 2rem;
    .logo{
        visibility: hidden;
    }
    .logoAni{
        visibility: visible;
    }
    .hamburger {
        position: fixed;
        top: 40px;
        right: 20px;
        width: 10%;
        z-index: 100;
        cursor: pointer; 
        span{
            display: inline-block;
            position: relative;
            width: 33px;
            height: 4px;
            border-radius: 3px;
            background-color: @bgColor2;
            &:before, &:after {
                display: inline-block;
                position: absolute;
                content: "";
                height: 4px;
                width: 33px;
                border-radius: 3px;
                background-color: @bgColor2;
                transition: all 200ms;
            }
            &:before{
                top: -11px;
            }
            &:after{
                top: 11px;
            }
        }
        .hamburgerAni{
            height: 0;
            &:before, &:after {
                top: 0;
                background-color: @bgColor1;
            }
            &:before{
                transform: rotate(45deg);
            }
            &:after{
                transform: rotate(-45deg);
            }
        }
    }
}

.menu{
    ul{
        position: fixed;
        text-align: center;
        font-size: 2rem;
        right: 140px;
        top: 200px;
        visibility: hidden;
    }
    &::before {
        font-size: 1rem;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        content: '';
        width: 100vw;
        height: 100vh;
        background: @bgColor2;
        transition: all 500ms ease-in-out;
        clip-path: circle(30px at calc(100% - 65px) 65px);
        visibility: hidden;
    }
}
.menuAni{
    ul{
        visibility: visible;
        transition: all 1s ease-in 200ms;
    }
    li{
        padding-bottom: 30px;
    }
    a{
        color: @bgColor1;
        text-decoration: none;
        &:hover{
            opacity: 0.6;
        }
    }
}
.menuAni.menu:before{
    visibility: visible;
    clip-path: circle(100%);
}