// fonts
@mainFont: 'Montserrat', sans-serif;

// colors
@bgColor1: rgba(107,138,143,0.5);
@bgColor2: #6b8a8f;
@navFontColor: #e9993d;
@boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
@cardBgColor: rgba(195,182,144, 0.5);